name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    strategy:
      matrix:
        php: [8.0, 8.1, 8.2, 8.3, 8.4, 8.5]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup PHP != 8.5
      if: ${{ matrix.php != '8.5' }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none

    - name: Setup PHP 8.5
      if: ${{ matrix.php == '8.5' }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none
        # this ini directive seems to be off by default in PHP 8.5
        # see https://github.com/php/php-src/issues/20279
        # enable it because codeception relies on it.
        ini-values: register_argc_argv=1

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-interaction --no-suggest

    - name: Run test suite
      run: php vendor/bin/codecept run
